.version.index /* version checker */
{
	color: #000016;
	background-color: #9345DC;
}

#page
{
	border-color: #000000;
	width: 100%;
	border-width: 0px;
	z-index: 1;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	background-image: none;
}

#u110
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u131-4
{
	font-size: 12px;
	position: relative;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	z-index: 5;
	background-color: transparent;
	line-height: 14px;
}

#u926
{
	z-index: 9;
	background-color: transparent;
	position: relative;
}

#u2068
{
	border-color: transparent;
	z-index: 11;
	background-color: transparent;
	position: relative;
	border-width: 0px;
}

#u1104
{
	transition-duration: 0s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition-delay: 0s;
	filter: alpha(opacity=70);
	-webkit-transition-duration: 0s;
	z-index: 12;
	background-color: transparent;
	background-image: url("../images/blank.gif");
	transition-delay: 0s;
	position: relative;
	opacity: 0.7;
}

#u1699-4
{
	vertical-align: top;
	z-index: 14;
	position: relative;
	display: block;
}

#u2098
{
	border-color: transparent;
	z-index: 18;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px;
}

#u1046
{
	transition-duration: 0s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition-delay: 0s;
	filter: alpha(opacity=70);
	-webkit-transition-duration: 0s;
	z-index: 19;
	background-color: transparent;
	background-image: url("../images/blank.gif");
	transition-delay: 0s;
	position: relative;
	opacity: 0.7;
}

#u1644-4
{
	vertical-align: top;
	z-index: 21;
	position: relative;
	display: block;
}

#u2083
{
	border-color: transparent;
	z-index: 25;
	background-color: transparent;
	position: relative;
	border-width: 0px;
}

#u1068
{
	transition-duration: 0s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition-delay: 0s;
	filter: alpha(opacity=70);
	-webkit-transition-duration: 0s;
	z-index: 26;
	background-color: transparent;
	background-image: url("../images/blank.gif");
	transition-delay: 0s;
	position: relative;
	opacity: 0.7;
}

#u1104:hover,#u1046:hover,#u1068:hover
{
	transition-duration: 1s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-webkit-transition-timing-function: ease;
	min-height: 0px;
	transition-timing-function: ease;
	opacity: 1;
	margin-top: 0px;
	margin-bottom: 0px;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	margin-right: 0px;
	-webkit-transition-duration: 1s;
}

#u926_img,#u1104_img,#u1046_img,#u1068_img
{
	width: 100%;
}

#u1660-4
{
	vertical-align: top;
	z-index: 28;
	position: relative;
	display: block;
}

#u725
{
	margin-bottom: -23px;
	z-index: 2;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1749px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1305px;
		max-width: 1920px;
	}

	#u110
	{
		width: 101.41%;
		margin-left: 0.71%;
		left: 1px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 35.42%;
		margin-left: 32.3%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 52px;
		width: 77.95%;
		margin-left: 11.03%;
	}

	#pu2098
	{
		margin-top: 102px;
		width: 80.89%;
		margin-left: 9.56%;
	}

	#u2098
	{
		padding-bottom: 0px;
		width: 26%;
	}

	#u110_img,#u926,#u1046
	{
		width: 100%;
	}

	#u1644-4
	{
		margin-top: 11px;
		width: 86.72%;
		margin-left: 6.3%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26%;
		left: 36.73%;
	}

	#u1068
	{
		width: 100%;
	}

	#u1660-4
	{
		margin-top: 11px;
		width: 92.31%;
		margin-left: 7%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26%;
		left: 74%;
	}

	#u1104
	{
		width: 100%;
	}

	#u1046:hover,#u1068:hover,#u1104:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1699-4
	{
		margin-top: 11px;
		width: 92.31%;
		margin-left: 4.2%;
	}

	#u725
	{
		height: 1364px;
		width: 101.41%;
		left: 0.68%;
	}

	.verticalspacer
	{
		margin-bottom: -1298px;
	}
}

@media (min-width: 1549px) and (max-width: 1748px)
{
	#muse_css_mq
	{
		background-color: #0006d4;
	}

	#bp_1748.active
	{
		display: block;
	}

	#page
	{
		min-height: 1223px;
		max-width: 1748px;
	}

	#u110
	{
		width: 101.44%;
		margin-left: 0.72%;
		left: 1px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 35.42%;
		margin-left: 32.27%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 53px;
		width: 78.03%;
		margin-left: 10.99%;
	}

	#pu2098
	{
		margin-top: 102px;
		width: 80.78%;
		margin-left: 9.54%;
	}

	#u2098
	{
		padding-bottom: 0px;
		width: 26%;
	}

	#u110_img,#u926,#u1046
	{
		width: 100%;
	}

	#u1644-4
	{
		margin-top: 6px;
		margin-left: 5.39%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 29.6%;
		left: 35%;
	}

	#u1068
	{
		width: 87.84%;
		margin-left: 6.09%;
	}

	#u1068:hover
	{
		width: 87.84%;
		margin-left: 6.09%;
	}

	#u1660-4
	{
		margin-top: 6px;
		width: 100%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26%;
		left: 74%;
	}

	#u1104
	{
		width: 100%;
	}

	#u1046:hover,#u1104:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1699-4
	{
		margin-top: 6px;
		width: 86.16%;
		margin-left: 6.16%;
	}

	#u725
	{
		height: 1364px;
		width: 101.44%;
		left: 0.69%;
	}

	.verticalspacer
	{
		margin-bottom: -1298px;
	}
}

@media (min-width: 1405px) and (max-width: 1548px)
{
	#muse_css_mq
	{
		background-color: #00060c;
	}

	#bp_1548.active
	{
		display: block;
	}

	#page
	{
		min-height: 1089px;
		max-width: 1548px;
	}

	#u110
	{
		width: 101.43%;
		margin-left: 0.72%;
		left: 0px;
	}

	#pu926
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 72px;
		width: 35.41%;
		margin-left: 32.3%;
	}

	#u110_img,#u926
	{
		width: 100%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 53px;
		width: 77.92%;
		margin-left: 10.95%;
	}

	#pu2098
	{
		margin-top: 102px;
		width: 84.49%;
		margin-left: 7.49%;
	}

	#u2098
	{
		padding-bottom: 0px;
		width: 29.16%;
	}

	#u1046
	{
		width: 85.19%;
		margin-left: 8.89%;
	}

	#u1046:hover
	{
		width: 85.19%;
		margin-left: 8.89%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 33.27%;
		left: 33.7%;
	}

	#u1068
	{
		width: 74.68%;
		margin-left: 12.34%;
	}

	#u1068:hover
	{
		width: 74.68%;
		margin-left: 12.34%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 28.51%;
		left: 71.5%;
	}

	#u1104
	{
		width: 87.13%;
		margin-left: 6.07%;
	}

	#u1104:hover
	{
		width: 87.13%;
		margin-left: 6.07%;
	}

	#u1644-4,#u1660-4,#u1699-4
	{
		margin-top: 9px;
		width: 100%;
	}

	#u725
	{
		height: 1364px;
		width: 101.43%;
		left: 0.65%;
	}

	.verticalspacer
	{
		margin-bottom: -1298px;
	}
}

@media (min-width: 1301px) and (max-width: 1404px)
{
	#muse_css_mq
	{
		background-color: #00057c;
	}

	#bp_1404.active
	{
		display: block;
	}

	#page
	{
		min-height: 982px;
		max-width: 1404px;
	}

	#u110
	{
		width: 101.43%;
		margin-left: 0.72%;
		left: 0px;
	}

	#u110_img
	{
		width: 100%;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 35.97%;
		margin-left: 32.27%;
	}

	#u926
	{
		width: 98.42%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 52px;
		width: 76.84%;
		margin-left: 10.9%;
	}

	#pu2068
	{
		margin-top: 103px;
		width: 97.43%;
		margin-left: 2.58%;
	}

	#u2068
	{
		margin-right: -10000px;
		width: 43.7%;
		left: 56.31%;
	}

	#u1104
	{
		width: 48.84%;
		margin-left: 25.59%;
	}

	#u1104:hover
	{
		width: 48.84%;
		margin-left: 25.59%;
	}

	#u2098
	{
		width: 35.37%;
	}

	#u1046
	{
		width: 60.35%;
		margin-left: 20.12%;
	}

	#u1046:hover
	{
		width: 60.35%;
		margin-left: 20.12%;
	}

	#u1644-4
	{
		margin-top: 7px;
		width: 99.43%;
	}

	#u2083
	{
		margin-right: -10000px;
		width: 38.42%;
		left: 28.26%;
	}

	#u1068
	{
		width: 55.56%;
		margin-left: 22.76%;
	}

	#u1068:hover
	{
		width: 55.56%;
		margin-left: 22.76%;
	}

	#u1699-4,#u1660-4
	{
		margin-top: 7px;
		width: 100%;
	}

	#u725
	{
		height: 1364px;
		width: 101.43%;
		left: 0.72%;
	}

	.verticalspacer
	{
		margin-bottom: -1298px;
	}
}

@media (min-width: 1081px) and (max-width: 1300px)
{
	#muse_css_mq
	{
		background-color: #000514;
	}

	#bp_1300.active
	{
		display: block;
	}

	#page
	{
		min-height: 897px;
		max-width: 1300px;
	}

	#u110
	{
		width: 101.47%;
		margin-left: 0.74%;
		left: 1px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 41.16%;
		margin-left: 29.77%;
	}

	#u110_img,#u926
	{
		width: 100%;
	}

	#pu131-4
	{
		margin-top: 34px;
		width: 97.58%;
		margin-left: 2.06%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-right: -10000px;
		width: 90.62%;
		left: 3.07%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 140px;
		width: 36.21%;
		left: 63.8%;
	}

	#u1104
	{
		width: 65.08%;
		margin-left: 17.47%;
	}

	#u1104:hover
	{
		width: 65.08%;
		margin-left: 17.47%;
	}

	#u2098
	{
		padding-bottom: 0px;
		margin-top: 140px;
		width: 29.7%;
	}

	#u1046
	{
		width: 79.36%;
		margin-left: 10.33%;
	}

	#u1046:hover
	{
		width: 79.36%;
		margin-left: 10.33%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 140px;
		width: 32.57%;
		left: 31.23%;
	}

	#u1068
	{
		width: 72.36%;
		margin-left: 15.89%;
	}

	#u1068:hover
	{
		width: 72.36%;
		margin-left: 15.89%;
	}

	#u1699-4,#u1644-4,#u1660-4
	{
		margin-top: 9px;
		width: 100%;
	}

	#u725
	{
		height: 945px;
		width: 101.39%;
		left: 0.7%;
	}

	.verticalspacer
	{
		margin-bottom: -879px;
	}
}

@media (min-width: 921px) and (max-width: 1080px)
{
	#muse_css_mq
	{
		background-color: #000438;
	}

	#bp_1080.active
	{
		display: block;
	}

	#page
	{
		min-height: 719px;
		max-width: 1080px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 41.67%;
		margin-left: 29.26%;
	}

	#u926
	{
		width: 100%;
	}

	#pu131-4
	{
		margin-top: 20px;
		width: 95.34%;
		margin-left: 3.78%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-right: -10000px;
		width: 92.78%;
		left: 2.1%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 153px;
		width: 34.74%;
		left: 65.27%;
	}

	#u1104
	{
		width: 69.13%;
		margin-left: 15.44%;
	}

	#u1104:hover
	{
		width: 69.13%;
		margin-left: 15.44%;
	}

	#u2098
	{
		padding-bottom: 0px;
		margin-top: 153px;
		width: 27.51%;
	}

	#u1046
	{
		width: 87.29%;
		margin-left: 8.48%;
	}

	#u1046:hover
	{
		width: 87.29%;
		margin-left: 8.48%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 153px;
		width: 32.17%;
		left: 32.17%;
	}

	#u1068
	{
		width: 74.64%;
		margin-left: 13.05%;
	}

	#u1068:hover
	{
		width: 74.64%;
		margin-left: 13.05%;
	}

	#u1699-4,#u1644-4,#u1660-4
	{
		margin-top: 13px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.39%;
		left: 0.65%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 751px) and (max-width: 920px)
{
	#muse_css_mq
	{
		background-color: #000398;
	}

	#bp_920.active
	{
		display: block;
	}

	#page
	{
		min-height: 481px;
		max-width: 920px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 62px;
		width: 44.79%;
		margin-left: 28.7%;
	}

	#u926
	{
		width: 94.42%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 20px;
		width: 83.99%;
		margin-left: 5.59%;
	}

	#pu2098
	{
		margin-top: 1px;
		width: 98.79%;
		margin-left: 1.22%;
	}

	#u2098
	{
		padding-bottom: 0px;
		width: 26.29%;
	}

	#u1046
	{
		width: 92.53%;
		margin-left: 1.87%;
	}

	#u1046:hover
	{
		width: 92.53%;
		margin-left: 1.87%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 34.16%;
		left: 29.73%;
	}

	#u1068
	{
		width: 71.23%;
		margin-left: 15.11%;
	}

	#u1068:hover
	{
		width: 71.23%;
		margin-left: 15.11%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 30.47%;
		left: 69.54%;
	}

	#u1104
	{
		width: 79.84%;
	}

	#u1104:hover
	{
		width: 79.84%;
		margin-left: 0%;
	}

	#u1644-4,#u1660-4,#u1699-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.42%;
		left: 0.66%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 551px) and (max-width: 750px)
{
	#muse_css_mq
	{
		background-color: #0002ee;
	}

	#bp_750.active
	{
		display: block;
	}

	#page
	{
		min-height: 481px;
		max-width: 750px;
	}

	#u110
	{
		width: 1080px;
		margin-top: -10px;
		margin-left: 50%;
		left: -541px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 50.67%;
		margin-left: 25.2%;
	}

	#u926
	{
		width: 89.48%;
		margin-left: 5.27%;
	}

	#pu131-4
	{
		margin-top: 16px;
		width: 100%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-right: -10000px;
		width: 82.11%;
		left: 5%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 160px;
		width: 29.74%;
		left: 70.27%;
	}

	#u1104
	{
		width: 77%;
	}

	#u1104:hover
	{
		width: 77%;
		margin-left: 0%;
	}

	#u2098
	{
		padding-bottom: 0px;
		margin-top: 160px;
		width: 27.9%;
	}

	#u1046
	{
		width: 82.08%;
		margin-left: 17.93%;
	}

	#u1046:hover
	{
		width: 82.08%;
		margin-left: 17.93%;
	}

	#u1644-4
	{
		margin-top: 5px;
		width: 96.23%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 160px;
		width: 33.95%;
		left: 31.58%;
	}

	#u1068
	{
		width: 67.45%;
		margin-left: 17.06%;
	}

	#u1068:hover
	{
		width: 67.45%;
		margin-left: 17.06%;
	}

	#u1699-4,#u1660-4
	{
		margin-top: 5px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.47%;
		left: 0.67%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 451px) and (max-width: 550px)
{
	#muse_css_mq
	{
		background-color: #000226;
	}

	#bp_550.active
	{
		display: block;
	}

	#page
	{
		min-height: 743px;
		max-width: 550px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 66.91%;
		margin-left: 16.73%;
	}

	#u926
	{
		width: 97.56%;
		margin-left: 2.18%;
	}

	#pu131-4
	{
		margin-top: 20px;
		width: 100%;
	}

	#u131-4
	{
		min-height: 213px;
		margin-right: -10000px;
		width: 75.55%;
		left: 11.96%;
	}

	#u2068
	{
		margin-right: -10000px;
		margin-top: 190px;
		width: 31.25%;
		left: 68.75%;
	}

	#u1104
	{
		width: 77.4%;
		margin-left: 11.31%;
	}

	#u1104:hover
	{
		width: 77.4%;
		margin-left: 11.31%;
	}

	#u2098
	{
		margin-top: 190px;
		width: 29.08%;
	}

	#u1046
	{
		width: 83.18%;
		margin-left: 12.15%;
	}

	#u1046:hover
	{
		width: 83.18%;
		margin-left: 12.15%;
	}

	#u2083
	{
		margin-right: -10000px;
		margin-top: 190px;
		width: 42.12%;
		left: 28.54%;
	}

	#u1068
	{
		width: 57.42%;
		margin-left: 21.3%;
	}

	#u1068:hover
	{
		width: 57.42%;
		margin-left: 21.3%;
	}

	#u1699-4,#u1644-4,#u1660-4
	{
		margin-top: 16px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.46%;
		left: 0.73%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 401px) and (max-width: 450px)
{
	#muse_css_mq
	{
		background-color: #0001c2;
	}

	#bp_450.active
	{
		display: block;
	}

	#page
	{
		min-height: 743px;
		max-width: 450px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 65.34%;
		margin-left: 18%;
	}

	#pu131-4
	{
		margin-top: 19px;
		width: 100%;
	}

	#u131-4
	{
		min-height: 213px;
		margin-right: -10000px;
		width: 100%;
	}

	#u2098
	{
		margin-top: 148px;
		width: 34.02%;
		left: 32.32%;
	}

	#u926,#u1046
	{
		width: 100%;
	}

	#u1046:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1644-4
	{
		width: 95%;
		margin-left: 5%;
	}

	#u2083
	{
		top: -2px;
		margin-bottom: -2px;
		width: 47.28%;
		margin-left: 27.22%;
	}

	#u1068
	{
		width: 71.95%;
		margin-left: 10.8%;
	}

	#u1068:hover
	{
		width: 71.95%;
		margin-left: 10.8%;
	}

	#u1660-4
	{
		margin-top: 5px;
		width: 100%;
	}

	#u2068
	{
		padding-bottom: 0px;
		width: 51.37%;
		margin-left: 23.13%;
	}

	#u1104
	{
		width: 66.23%;
		margin-left: 17.89%;
	}

	#u1104:hover
	{
		width: 66.23%;
		margin-left: 17.89%;
	}

	#u1699-4
	{
		margin-top: 7px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.34%;
		left: 0.67%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 351px) and (max-width: 400px)
{
	#muse_css_mq
	{
		background-color: #000190;
	}

	#bp_400.active
	{
		display: block;
	}

	#page
	{
		min-height: 743px;
		max-width: 400px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 65.25%;
		margin-left: 18%;
	}

	#u926
	{
		width: 100%;
	}

	#pu131-4
	{
		margin-top: 20px;
		width: 100%;
	}

	#u131-4
	{
		min-height: 213px;
		margin-right: -10000px;
		width: 100%;
	}

	#u2098
	{
		padding-bottom: 0px;
		margin-top: 167px;
		width: 45.98%;
		left: 25.68%;
	}

	#u1046
	{
		width: 73.34%;
		margin-left: 14.17%;
	}

	#u1046:hover
	{
		width: 73.34%;
		margin-left: 14.17%;
	}

	#u2083
	{
		padding-bottom: 0px;
		top: -7px;
		margin-bottom: -7px;
		width: 55.56%;
		margin-left: 21.08%;
	}

	#u1068
	{
		width: 60.69%;
		margin-left: 20.69%;
	}

	#u1068:hover
	{
		width: 60.69%;
		margin-left: 20.69%;
	}

	#u2068
	{
		width: 46.37%;
		margin-left: 25.68%;
	}

	#u1104
	{
		width: 72.73%;
		margin-left: 14.05%;
	}

	#u1104:hover
	{
		width: 72.73%;
		margin-left: 14.05%;
	}

	#u1644-4,#u1660-4,#u1699-4
	{
		margin-top: 5px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.5%;
		left: -0.75%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (min-width: 322px) and (max-width: 350px)
{
	#muse_css_mq
	{
		background-color: #00015e;
	}

	#bp_350.active
	{
		display: block;
	}

	#page
	{
		min-height: 743px;
		max-width: 350px;
	}

	#u110
	{
		width: 1080px;
		margin-left: 50%;
		left: -540px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 62px;
		width: 65.43%;
		margin-left: 18%;
	}

	#u926
	{
		width: 100%;
	}

	#pu131-4
	{
		margin-top: 20px;
		width: 100%;
	}

	#u131-4
	{
		min-height: 213px;
		margin-right: -10000px;
		width: 100%;
	}

	#u2098
	{
		margin-top: 169px;
		width: 52.41%;
		left: 23.59%;
	}

	#u1046
	{
		width: 75%;
		margin-left: 10.84%;
	}

	#u1046:hover
	{
		width: 75%;
		margin-left: 10.84%;
	}

	#u1644-4
	{
		margin-top: 3px;
		width: 100%;
	}

	#u2083
	{
		padding-bottom: 0px;
		width: 62.01%;
		margin-left: 18.35%;
	}

	#u1068
	{
		width: 63.39%;
		margin-left: 17.61%;
	}

	#u1068:hover
	{
		width: 63.39%;
		margin-left: 17.61%;
	}

	#u1660-4
	{
		margin-top: 5px;
		width: 100%;
	}

	#u2068
	{
		margin-top: 6px;
		width: 60.7%;
		margin-left: 18.35%;
	}

	#u1104
	{
		width: 64.75%;
		margin-left: 17.99%;
	}

	#u1104:hover
	{
		width: 64.75%;
		margin-left: 17.99%;
	}

	#u1699-4
	{
		margin-top: 4px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.43%;
		left: 0.58%;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

@media (max-width: 321px)
{
	#muse_css_mq
	{
		background-color: #000141;
	}

	#bp_321.active
	{
		display: block;
	}

	#page
	{
		min-height: 723px;
		max-width: 321px;
	}

	#pu110
	{
		margin-right: -10000px;
		width: 336.45%;
		margin-left: -118.39%;
	}

	#u110
	{
		width: 1080px;
	}

	#u131-4
	{
		min-height: 170px;
		margin-right: -10000px;
		margin-top: 176px;
		width: 19.26%;
		left: 40.1%;
	}

	#u926
	{
		margin-right: -10000px;
		margin-top: 74px;
		width: 25.47%;
		left: 37.23%;
	}

	#u2068
	{
		margin-right: -10000px;
		margin-top: 596px;
		width: 12.97%;
		left: 43.43%;
	}

	#u1104
	{
		width: 64.29%;
		margin-left: 19.29%;
	}

	#u1104:hover
	{
		width: 64.29%;
		margin-left: 19.29%;
	}

	#u2098
	{
		margin-top: 339px;
		width: 12.78%;
		left: 43.62%;
	}

	#u1046
	{
		width: 65.22%;
		margin-left: 18.12%;
	}

	#u1046:hover
	{
		width: 65.22%;
		margin-left: 18.12%;
	}

	#u2083
	{
		margin-right: -10000px;
		margin-top: 469px;
		width: 14.91%;
		left: 42.5%;
	}

	#u1068
	{
		width: 55.91%;
		margin-left: 22.37%;
	}

	#u1068:hover
	{
		width: 55.91%;
		margin-left: 22.37%;
	}

	#u1699-4,#u1644-4,#u1660-4
	{
		margin-top: 4px;
		width: 100%;
	}

	#u725
	{
		height: 786px;
		width: 101.56%;
		left: 0.63%;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		margin-bottom: -720px;
	}
}

