	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1305px;
		max-width: 1920px;
	}

	#u110
	{
		width: 101.41%;
		margin-left: 0.71%;
		left: 1px;
	}

	#pu926
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 35.42%;
		margin-left: 32.3%;
	}

	#u131-4
	{
		min-height: 170px;
		margin-top: 52px;
		width: 77.95%;
		margin-left: 11.03%;
	}

	#pu2098
	{
		margin-top: 102px;
		width: 80.89%;
		margin-left: 9.56%;
	}

	#u2098
	{
		padding-bottom: 0px;
		width: 26%;
	}

	#u110_img,#u926,#u1046
	{
		width: 100%;
	}

	#u1644-4
	{
		margin-top: 11px;
		width: 86.72%;
		margin-left: 6.3%;
	}

	#u2083
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26%;
		left: 36.73%;
	}

	#u1068
	{
		width: 100%;
	}

	#u1660-4
	{
		margin-top: 11px;
		width: 92.31%;
		margin-left: 7%;
	}

	#u2068
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26%;
		left: 74%;
	}

	#u1104
	{
		width: 100%;
	}

	#u1046:hover,#u1068:hover,#u1104:hover
	{
		width: 100%;
		margin-left: 0%;
	}

	#u1699-4
	{
		margin-top: 11px;
		width: 92.31%;
		margin-left: 4.2%;
	}

	#u725
	{
		height: 1364px;
		width: 101.41%;
		left: 0.68%;
	}

	.verticalspacer
	{
		margin-bottom: -1298px;
	}

